@charset "utf-8";
* {
  margin: 0;
  padding: 0;
}
.clearfix {
  height: 0;
  overflow: hidden;
}
#app {
  margin: 0 auto;
  width: 800px;
}
.head {
  list-style: none;
  border-bottom: 1px solid #dddddd;
}
.head li {
  float: left;
  width: 12%;
  margin-bottom: 10px;
  text-align: left;
}
.head .shangpin {
  width: 40%;
}
.num-wrap .num {
  width: 30%;
  text-align: center;
}
.table td {
  width: 12%;
}
.table tr {
  height:120px;
}
.table .font-description {
  width: 40%;
}
.table .font-description img {
  width: 80px;
  height: 100px;
  float: left;
}
